{{define "admin/layout/nav"}}
<nav class="navbar">
    <div class="container">
        <div class="navbar-header header-logo">
            <a href="/">Drip</a>
        </div>
        <div class="menu navbar-right">
            <a class="menu-item" href="/blogs" title="">Blog</a>
            <a class="menu-item" href="/categories" title="">Categories</a>
            <a class="menu-item" href="/about" title="">About</a>
            <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-sun"></i></a>&nbsp;
        </div>
    </div>
</nav>
{{end}}
